/* Tipografía y Colores */
@import url('https://fonts.googleapis.com/css2?family=Georgia:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f6f1;
    color: #4a4a4a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #eed9b4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.2em;
    font-weight: bold;
    color: #4a4a4a;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.hero h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #4a4a4a;
}

.hero p {
    font-size: 1em;
    margin: 10px 0;
    color: #4a4a4a;
}

button {
    background-color: transparent;
    border: 2px solid #4a4a4a;
    color: #4a4a4a;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #4a4a4a;
    color: #fff;
}

.tour-info {
    text-align: center;
    padding: 40px 20px;
    background-color: #f1dfc0;
}

.tour-info h2 {
    font-size: 2em;
    font-weight: bold;
    color: #e7b5b5;
    margin-bottom: 10px;
}

.tour-info h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #180000;
    margin-bottom: 20px;
}

.tour-info .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.tour-info .btn-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 10px;
}

/* Estilos para los botones con imágenes específicas */
#btn1 { background-image: url('img/TAYLOR.png'); }
#btn2 { background-image: url('img/Fearless.png'); }
#btn3 { background-image: url('img/Speak_Now.png'); }
#btn4 { background-image: url('img/RED.png'); }
#btn5 { background-image: url('img/1989.png'); }
#btn6 { background-image: url('img/Reputation.png'); }
#btn7 { background-image: url('img/Lover.png'); }
#btn8 { background-image: url('img/Folklore.png'); }
#btn9 { background-image: url('img/Evermore.png'); }
#btn10 { background-image: url('img/Midnights.png'); }

.iframe-container {
    margin: 20px 0;
}

.Harumi {
    text-align: center;
    padding: 40px 20px;
    background-color: #f5d6f2;
}

.Harumi h2 {
    font-size: 2em;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.Harumi h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.Harumi .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.Harumi .buttons button {
    width: 100%;
    margin: 10px 0;
}

/* Estilos para el texto de Harumi */
.harumi-text {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background: #ffffff;
    color: #4a4a4a;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.harumi-text:hover {
    transform: translateY(-5px);
}


@media (max-width: 1200px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .tour-info h2, .tour-info h3, .Harumi h2, .Harumi h3 {
        font-size: 1.5em;
    }

    .tour-info .buttons {
        flex-direction: column;
        align-items: center;
    }

    .tour-info .btn-img {
        width: 80px;
        height: 80px;
    }

    .Harumi .buttons {
        flex-direction: column;
    }

    .Harumi .buttons button {
        width: 80%;
        margin: 10px 0;
    }

    .iframe-container iframe {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .tour-info .btn-img {
        width: 60px;
        height: 60px;
    }

    .iframe-container iframe {
        width: 100%;
        height: 150px;
    }
}
